{{- $rootDevPath := index .general.rootDevPath .chezmoi.hostname -}}

return {
	-- Set paths you want to exclude from project.nvim
	project_exclude = {
		{{ $rootDevPath | toJson }},
		{{ .chezmoi.homeDir | toJson }},
	},

	-- Set paths you want to include in Telescope broad 'Search Files', e.g. root workspace dir
	root_search_dirs = {{ $rootDevPath | toJson }},
}
