{{- $obsidianJsonPath := printf "%s/Obsidian/obsidian.json" (env "APPDATA") }}
{{- $hasObsidian := stat $obsidianJsonPath -}}

return {
	-- Set paths you want to exclude from project.nvim
	project_exclude = {
		{{ .rootDevPath | toJson }},
		{{ .chezmoi.homeDir | toJson }},
	},

	-- Set paths you want to include in Telescope broad 'Search Files', e.g. root workspace dir
	root_search_dirs = {{ .rootDevPath | toJson }},
{{ if $hasObsidian }}
	-- Obsidian vault configuration
	obsidian_vaults = {
	{{- range $id, $vault := (include $obsidianJsonPath | fromJson).vaults }}
		{
			name = {{ $vault.path | osBase | toJson }},
			path = {{ $vault.path | toJson }},
		},
	{{- end }}
	},
{{- end }}

	-- Model for CopilotChat
	-- (Edit with chezmoi edit-config, run chezmoi init if not present there)
{{- if .neovim.copilotChatModel }}
	copilotChat_model = {{ .neovim.copilotChatModel | toJson }},
{{- end }}
}
