{{- $host := .chezmoi.hostname -}}
{{- $rootDevPath := index .general.rootDevPath $host -}}

{{- $hasZoxide := lookPath "zoxide" -}}
{{- $hasOhMyPosh := lookPath "oh-my-posh" -}}
{{- $hasExercism := lookPath "exercism" -}}
{{- $hasPSMux := lookPath "psmux" -}}

{{- $moduleNames := list "Terminal-Icons" "PSFzf" "InvokeBuild" -}}
{{- $moduleJson := $moduleNames | toJson -}}
{{- $moduleQuery := printf "$names = '%s' | ConvertFrom-Json; [array]$installed = (Get-Module -ListAvailable -Name $names).Name | Select-Object -Unique; ConvertTo-Json -InputObject $installed -Compress" $moduleJson -}}
{{- $installedModules := output "pwsh" "-NoProfile" "-Command" $moduleQuery | fromJson -}}

#region PSStyle
$Host.PrivateData.VerboseForegroundColor = "Cyan"
$PSStyle.Formatting.Debug = $PSStyle.Foreground.BrightCyan
$PSStyle.Formatting.Verbose = $PSStyle.Foreground.BrightMagenta
#endregion PSStyle

#region AsyncModuleLoads
# Benchmarks have shown these to take the longest. Deferring loading to initialization of shell.
{{- if or (has "Terminal-Icons" $installedModules) (has "PSFzf" $installedModules) }}
Register-EngineEvent -SourceIdentifier PowerShell.OnIdle -MaxTriggerCount 1 -Action {
	{{- if has "Terminal-Icons" $installedModules }}
	Import-Module -Name Terminal-Icons
	{{- end }}

	{{- if has "PSFzf" $installedModules }}
	Import-Module PSFzf
	Set-PsFzfOption -PSReadlineChordReverseHistory 'Ctrl+r'
	{{- end }}
} | Out-Null
{{- end }}
#endregion AsyncModuleLoads

{{ if $hasOhMyPosh -}}
& ([scriptBlock]::Create((oh-my-posh --init --shell pwsh --config ~/PoshConfigLine.json )))
{{- end }}

# Initialize PSReadLine and zoxide (if installed)
Import-Module PSReadLine

{{ if $hasZoxide -}}
& ([scriptblock]::Create((zoxide init powershell)))
{{- end }}

#region EnvVarSetups
$env:nvimConfig = "~/AppData/Local/nvim"
$env:CodeRepo = {{ $rootDevPath | toJson }}

{{ if $hasExercism -}}
$env:Exercism = "~/Exercism"
{{- end }}

{{ if $hasPSMux -}}
$env:PSMuxConfig = "~/.config/psmux"
{{- end }}

{{- if has "PSFzf" $installedModules }}
$env:EDITOR = "nvim" # Redirects grep to open Neovim instead of VS Code
{{- end }}
#endregion EnvVarSetups

#region HelperFunctions
function boop {
	Import-Module ./DevWork.psm1 -Force
}

function ClearNvimShada {
	Get-ChildItem -Path "~/AppData/Local/nvim-data/shada" -Filter "*.tmp.*" | Remove-Item -Force
}

{{ if $hasPSMux -}}
function mux {
	[CmdletBinding()]
	param(
		[string]$Session = "main"
	)

	psmux new -A -s $Session
}
{{- end }}
#endregion HelperFunctions

#region Aliases
Set-Alias CheckMe Invoke-ScriptAnalyzer

{{- if has "PSFzf" $installedModules }}
Set-Alias grep Invoke-PsFzfRipgrep
{{- end }}

{{- if has "InvokeBuild" $installedModules }}
Set-Alias BuildMe Invoke-Build
{{- end }}
#endregion Aliases
