{{ $host := .chezmoi.hostname }}
{{- $rootDevPath := index .general.rootDevPath $host -}}
{{- $featureCfg := .powershell.byFeature -}}

#region PSStyle
$Host.PrivateData.VerboseForegroundColor = "Cyan"
$PSStyle.Formatting.Debug = $PSStyle.Foreground.BrightCyan
$PSStyle.Formatting.Verbose = $PSStyle.Foreground.BrightMagenta
#endregion PSStyle

#region EnvVarSetups
$env:nvimConfig = "~/AppData/Local/nvim"
$env:CodeRepo = {{ $rootDevPath | toJson }}
{{ if has $host $featureCfg.enable_exercism -}}
$env:Exercism = "~/Exercism"
{{- end }}
{{ if has $host $featureCfg.enable_psmux -}}
$env:PSMuxConfig = "~/.config/psmux"
{{- end }}
#endregion EnvVarSetups

#region AsyncModuleLoads
# Benchmarks have shown these to take the longest. Deferring loading to initialization of shell.
Register-EngineEvent -SourceIdentifier PowerShell.OnIdle -MaxTriggerCount 1 -Action {
    Import-Module -Name Terminal-Icons

    Import-Module PSFzf
    Set-PsFzfOption -PSReadlineChordReverseHistory 'Ctrl+r'
} | Out-Null
#endregion AsyncModuleLoads

& ([scriptBlock]::Create((oh-my-posh --init --shell pwsh --config ~/PoshConfigLine.json )))

#Initialize PSReadLine and zoxide (if installed)
Import-Module PSReadLine

{{ if has $host $featureCfg.enable_zoxide -}}
& ([scriptblock]::Create((zoxide init powershell)))
{{- end }}

#region HelperFunctions
function CheckMe {
	param(
		[string]$Path,
		[switch]$Fix
	)

	Invoke-ScriptAnalyzer -Path $Path -Fix:$Fix
}

function boop {
	Import-Module ./DevWork.psm1 -Force
}

function ClearNvimShada {
	Get-ChildItem -Path "~/AppData/Local/nvim-data/shada" -Filter "*.tmp.*"  | Remove-Item -Force
}

{{ if has $host $featureCfg.enable_psmux -}}
function mux {
	[CmdletBinding()]
	param(
		[string]$Session = "main"
	)

	psmux new -A -s $Session
}
{{- end }}
#endregion HelperFunctions

#region Aliases
Set-Alias grep Invoke-PsFzfRipgrep
Set-Alias BuildMe Invoke-Build
#endregion Aliases
